
@{
    ViewData["Title"] = "Index";
}

<h1>Store Manager Menu</h1>

<a asp-action="ViewStores">View All Stores</a>
<br />
<a asp-action="SelectStore">View Store Orders</a>
<br />

<button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Exit</button>

