@inject PizzaBox.Domain.Interfaces.IStoreInfo repositoryStoreInfo
@{
    ViewData["Title"] = "ViewStores";

}

<h1>View Stores</h1>
@{
    var stores = repositoryStoreInfo.GetItems().ToList();
    if (stores.Count() == 0)
    {
        <h2>There are no stores in existance</h2>
    }
    foreach (var st in stores)
    {


        <p>@st.StoreName</p>
        <p>@st.City</p>
        <p>@st.State</p>
        <p>@st.ZipCode</p>
        <hr />
    }

}
<a asp-action="Index" asp-controller="Store">Back to Store Manager Menu</a>