@{
    ViewData["Title"] = "Pizza List";
}

<h1>Welcome to EZ Pizza</h1>
<button type="button" onclick="location.href='@Url.Action("SignUp", "Home")'">Sign Up</button>
<button type="button" onclick="location.href='@Url.Action("SignIn", "Home")'">Sign In</button>
<button type="button" onclick="location.href='@Url.Action("Index", "Store")'">Store Manager Mode</button>