
@{
    ViewData["Title"] = "OrderRestriction";
    TempData.Keep();
}

    <h1>Sorry! You cannot place another order in this store within 24 hours</h1>
    <a asp-action="Index" asp-controller="SignedIn">Back to User Menu</a>

